<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-container">
        {{>header}}
        <div class="about">
            <div>
                <p>
                    This is a weather forecast application developed by using NodeJs and express on
                    backend and HTML, CSS, Javascript and Handlebars (templating engine) on frontend.
                    APIs used are mapbox and darksky to process location and weather. <br> You can see
                    the code and suggest improvements on
                    <a href="https://github.com/nabeelimran/weather-app">Github</a>
                </p>
            </div>
            <img src="/img/pic.jpg" alt="">
        </div>
        <p>
            
        </p>
    </div>
    {{>footer}}
</body>
</html>